@extends('master.layouts.index')

@section('title','CakStore | Admin')

@section('content')
        <div class="card p-3">
            <div class="bg-card pt-30 ps-30 pe-30 pb-30">
                <h2 class="text-4xl fw-bold color-palette-1 mb-30">Update</h2>
                <form class="edit-profile" method="post" action="/master/order/{{ $order->_id }}">
                    <input type="hidden" name="_id" value=" {{ $order->_id }}">
                    <input type="hidden" name="kode_id" value=" {{ $order->kode_id }}">
                    @csrf
                    @method('PUT')
                    <div class="pt-30">
                        <label for="userId" class="form-label text-lg fw-medium color-palette-1 mb-10">User Game ID</label>
                        <input type="text" class="form-control rounded-pill text-lg @error('user_info') is-invalid @enderror" id="user_info" name="user_info" value="{{ $order->user_info }}"
                            aria-describedby="userId" placeholder="Enter your name">
                    </div>
                    <div class="pt-30">
                        <label for="phne" class="form-label text-lg fw-medium color-palette-1 mb-10">Number Phone</label>
                        <input type="text" class="form-control rounded-pill text-lg @error('phone') is-invalid @enderror" id="phone" name="phone" value="{{ $order->phone }}"
                            aria-describedby="phone" placeholder="Enter Number Phone">
                    </div>
                    <div class="pt-30">
                        <label for="kodeId" class="form-label text-lg fw-medium color-palette-1 mb-10">Produk</label>
                            <select class="form-control rounded-pill text-lg @error('kode_id') is-invalid @enderror"  name="kode_id" id="kode_id">
                                @foreach($produk as $row)
                                <option value="{{$row->kode_id}}">{{$row->game}} - {{ $row->item }} Diamond</option>
                                @endforeach
                            </select>
                    </div>
                    <div class="pt-30">
                        <label for="metode" class="form-label text-lg fw-medium color-palette-1 mb-10">Payment</label>
                        <select class="form-control rounded-pill text-lg @error('metode') is-invalid @enderror" id="metode" name="metode" require>
                            <option value=" {{ $order->metode }} ">{{ $order->metode }} </option>
                            <option value="GoPay">GoPay</option>
                            <option value="ShopeePay">ShopeePay</option>
                            <option value="DANA">DANA</option>
                            <option value="OVO">OVO</option>
                            <option value="BRI">BRI</option>
                        </select>
                    </div>
                    <div class="pt-30">
                        <label for="status" class="form-label text-lg fw-medium color-palette-1 mb-10">Status</label>
                        <select class="form-control rounded-pill text-lg @error('status') is-invalid @enderror" id="status" name="status" require>
                            <option value=" {{ $order->status }} ">{{ $order->status }} </option>
                            <option value="Done">Done</option>
                            <option value="Cancel">Cancel</option>
                        </select>
                    </div>
                    <div class="button-group d-flex flex-column pt-50">
                        <button type="submit" class="btn btn-primary fw-medium text-lg text-white rounded-pill"
                            role="button">Update</button>
                    </div>
                </form>
            </div>
        </div>

@endsection()
